* text=auto

*.py text eol=lf
*.ps1 text eol=lf
*.json text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf

*.zip binary
*.wav binary
*.exe binary
*.dll binary
*.pyd binary
*.bin binary
*.dic binary
*.onnx binary
